*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    width: 100%;
    min-width: 290px;
    height: 60px;
    text-align: center;
    align-content: center;
    font-size: 3rem;
    background-color: #d9eee1;
    color: black;
    font-weight: bold;
}

.main-container--item{
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 350px;
    height: 200px;
    margin: 15px auto;
    border: 2px solid;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    font-size: 2.5rem;
}

.main-form--div{
    width: 80%;
    height: auto;

}

.main-form-div--botones{

}